@import '../../css/mediaQueries';

.container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: $min-tablet) {
    .container {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 80vh;

        .fullHeight {
            height: 100%;
        }
    }
}