@import '../../../css/colors';
@import '../../../css/mediaQueries';

.button {
    padding: 1em;
    background-color: $secondary-lightest;
    opacity: 0.7;
    text-transform: uppercase;
    font-family: "Abel", sans-serif;
    border: 0;
    font-size: 1em;

    &:active {
        // background-color: $secondary-lighter;
        opacity: 1;
    }

    @media screen and (min-width: $min-tablet) {

        &:hover {
            cursor: pointer;
        }
    }
} 